# Dependencies
node_modules/

# Production builds
dist/
build/

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# Local Server & Temp Files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
